<%- include('./includes/head.ejs')%>
  <%- include('./includes/nav.ejs')%>

    <div class="container">
      <div class="row">
        <div class="col lg-2"></div>

        <div class="col lg-8 my-3">
          <h1 class="text-center">Cadastre a pesquisa</h1>
        </div>

        <div class="col lg-2"></div>
      </div>

      <%- include('./includes/messages.ejs')%>

        <% if (cadId._id) { %>
          <form action="/cadastro/edit/<%= cadId._id%>" method="post">
            <% } else { %>
              <form action="/cadastro/register" method="post">
                <% } %>
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <%# tem q usar o name _csrf e o value csrfToken%>
                    <div class="form-group">
                      <label>Nome</label>
                      <input value="<%= cadId.nome %>" type="text" class="form-control" name="nome">
                    </div>

                    <div class="form-group">
                      <label>Endereço do imóvel a ser pesquisado</label>
                      <input value="<%= cadId.endereco %>" type="text" class="form-control" name="endereco">
                      <small id="emailHelp" class="form-text text-muted">Após digitar o endereço, porfavor use a '',''
                        para informar o número da residência.</small>
                    </div>
                  
                    <select  id="alter" value="<%= cadId.alter %>" class="form-control form-control form-select w-50" aria-label=""
                      name="alter" aria-selected="true">
                      <option value="Desarquivamento">Desarquivamento</option>
                      <option selected value="Pesquisa">Pesquisa de Planta</option>
                    </select>


                        <div id="npDiv" class="form-group my-3">
                          <label>Numero do processo</label>
                          <input value="<%= cadId.nprocesso %>" type="text" class="form-control" name="nprocesso" id="nprocesso">
                        </div>

                        
 
                      <select value="<%= cadId.situacao %>" class="form-control form-select w-50" name="situacao" id="sit">
                        <option value="Em Pesquisa">Em pesquisa</option>
                        <option value="Localizado">Localizado</option>
                        <option value="Aguardando Arquivo">Ag. Arquivo</option>
                        <option value="Enviado pra arquivo">Enviado pra arquivo</option>
                        <option value="Nada consta">Nada consta</option>
                        <option value="Finalizado">Finalizado</option>
                      </select>

                      <button type="submit" class="btn btn-outline-success my-3">Enviar</button>
              </form>
    </div>



    <%- include('./includes/footer.ejs')%>