<%- include('./includes/head.ejs')%>
<%- include('./includes/nav.ejs')%>

<div class="container my-3">
    <div class="row">
        <div class="col lg-2">

            
            <div class="col lg-8 my-3 text-center">
                <h1 class="text-center">Pesquisas cadastradas</h1>
                <p class="text-center lead">Consulte ou edite as pesquisas</p>
            </div>
            
            <div class="responsive-table my-3">
                <table class="table table-bordered table-striped my-3">
                    <td>
                        <h5>Nº</h5>
                    </td>
                    <td>
                        <h5>Nome</h5>
                    </td>
                    <td>
                        <h5>Endereco</h5>
                    </td>
                    <td>
                        <h5>Nº do Processo</h5>
                    </td>
                    <td>
                        <h5>Tipo de requer</h5>
                    </td>
                            
                            <td>
                                <h5>Situação</h5>
                                
                            </td>
                            
                            <td>
                                <h5>Definir situação</h5>
                            </td>
                            <% cadastradas.forEach(cadastrada => { %> <%# aqui fiz o forEach pq retorna um array no model
                                cadastradas %>
                                <tr>
                                    <td>                                    
                                            <h5 class="text-dark"><%= cadastrada.num %></h5>
                                        <td>
                                            <h5><%= cadastrada.nome %></h5>
                                        </td>
                                        <td>
                                            <h5><%= cadastrada.endereco %></h5>
                                        </td>
                                        <td class="text-center">
                                            <h5><%= cadastrada.nprocesso %></h5>
                                        </td>
                                        <td>
                                            <h5><%= cadastrada.alter %></h5>
                                        </td>
                                        
                                        <td>
                                            <h5><%= cadastrada.situacao %></h5>
                                        </td>
                                        
                                        <td>
                                            <h5><a class="text-info" href="/cadastro/<%= cadastrada._id %>">Alterar</a></h5>
                                        </td>
                                        <% }) %>
                                    </tr>
                                </table>
                            </div>
                            
                            
                            
                            <div class="col lg-2"></div>
                        </div>
            
                            
                            
                            <%- include('./includes/footer.ejs')%>